@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 176 58% 92.4%; /* #E1F4F3 */
    --foreground: 0 0% 11.8%; /* #1E1E1E */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 0 0% 11.8%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 11.8%;
    --primary: 173 100% 15.3%; /* #004E45 */
    --primary-foreground: 0 0% 97.3%; /* #F8F8F8 */
    --secondary: 176 58% 92.4%;
    --secondary-foreground: 0 0% 11.8%;
    --muted: 176 58% 92.4%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 31 100% 68.4%; /* #FFAB5E */
    --accent-foreground: 0 0% 11.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 97.3%;
    --border: 176 25% 87.3%; /* #D6E4E3 */
    --input: 176 25% 87.3%;
    --ring: 173 100% 15.3%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: hsl(var(--primary));
    --sidebar-foreground: hsl(var(--primary-foreground));
    --sidebar-primary: hsl(var(--accent));
    --sidebar-primary-foreground: hsl(var(--accent-foreground));
    --sidebar-accent: hsl(176 58% 92.4% / 0.1);
    --sidebar-accent-foreground: hsl(var(--primary-foreground));
    --sidebar-border: hsl(var(--border));
    --sidebar-ring: hsl(var(--ring));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
